---
layout: default
title: "Rust Belt Rust Conference"
css_class: "home"
---

<img src="/images/logo.jpg" alt="Rust Belt Rust Conference" class="logo" />

<h2>Thank you for a great 2016 conference!</h2>

<p>
    Thank you so much to all attendees, speakers, and sponsors for making our first year an incredible event!
</p>
<p>
    Make sure to check out the
    <a href="/sessions/">materials</a>
    and the
    <a href="https://www.youtube.com/playlist?list=PLgC1L0fKd7UmdG82JOEE0uzXci1XY61xU">videos</a>
    for each talk.
</p>

<h3>
    For info about future Rust Belt Rust Conferences, please <a href="http://rust-belt-rust.com/">view the current conference</a>.
</h3>

<hr />

<h2>Rust Belt Rust Conference 2016</h2>
<h2>October 27th &amp; 28th, 2016</h2>
<h2>Pittsburgh, PA, USA</h2>
<h2><a href="http://doubletree3.hilton.com/en/hotels/pennsylvania/doubletree-by-hilton-hotel-and-suites-pittsburgh-downtown-PITDTDT/index.html">Doubletree Pittsburgh Downtown</a></h2>

<div>
    <p>Rust Belt Rust is a conference for people of any level of Rust experience-- you're welcome even if you're just interested in Rust!</p>
    <ul>
        <li>Day 1 will be interactive workshops, including a few at an introductory level. Bring your laptop for hands-on learning in smaller groups.</li>
        <li>Day 2 will be a single track of 30 minute talks on a variety of Rust related topics.</li>
    </ul>
    <p>Help promote the conference with a <a href="/rust-belt-rust-promo-poster.pdf">poster</a> that's great for hanging at schools, hacker spaces, and meetups!</p>
</div>
<div class="buynow">
    <a class="btn btn-primary btn-lg" role="button" href="/rust-belt-rust-detailed-schedule.pdf">Schedule (PDF)</a>
</div>
<div class="homepage-sponsors">
    <h2>Sponsored by</h2>
    <div><a href="/sponsors">Many wonderful companies and people, including:</a></div>
    <div class="clearfix">
        <div class="sponsor"><a href="http://www.mozilla.com"><img class="logo" src="/images/mozilla.png" alt="Mozilla"/></a></div>
        <div class="sponsor"><a href="http://www.integer32.com"><img class="logo" src="/images/integer32.svg" alt="Integer 32"/></a></div>
        <div class="sponsor"><a href="https://www.habitat.sh/"><img class="logo" src="/images/chef.png" alt="Habitat by Chef" style="margin-left: 15px; margin-top: -24px"/></a></div>
    </div>
</div>
<div>
    <p>Why is the conference taking place in the Rust Belt? For the pun opportunities, of course!! We also enjoy the opportunity to show off our region-- there are more people doing interesting things with technology here than you might have guessed!
    </p>
</div>
<div id="footer">
    <p>
        Rust Belt Rust is being organized by <a href="https://twitter.com/Carols10cents">Carol (Nichols || Goulding)</a>, <a href="https://twitter.com/jakegoulding">Jake Goulding</a>, <a href="https://twitter.com/saterus">Alex Burkhart</a>, <a href="https://twitter.com/DylanCodes">Dylan McGuire</a>, <a href="https://twitter.com/andrewhobden">Andrew Hobden</a>, <a href="https://twitter.com/frewsxcv">Corey Farwell</a>, and <a href="https://twitter.com/bruce_adams">Bruce Adams</a>,  with help and advice from <a href="https://twitter.com/steveklabnik">Steve Klabnik</a>, <a href="https://twitter.com/ag_dubs">Ashley Williams</a>, and <a href="https://twitter.com/vijaykorapaty">Vijay Korapaty</a>.
    </p>
    <p>
        Rust Belt Rust is not an official Rust or Mozilla event.
    </p>
    <p>
        We are also not affiliated with the <a href="http://plv.mpi-sws.org/rustbelt/">RustBelt project</a>, though we do share a love of Rust-related puns :)
    </p>

    <p>
      <a href="https://rust-belt-rust.eventbrite.com">Tickets</a> |
      <a href="/sessions">Sessions</a> |
      <a href="/sponsors">Sponsors</a> |
      <a href="/conduct">Code of Conduct</a> |
      <a href="http://twitter.com/rustbeltrust">Twitter</a> |
      <a href="mailto:rustbeltrust@gmail.com">Email</a>
    </p>

</div>
