---
layout: default
title: "Sessions"
css_class: "sessions"
redirect_from:
  - /sessions.html
---

<h1>Rust Belt Rust Conference</h1>
<h1>Sessions</h1>

<h2><a href="https://www.youtube.com/playlist?list=PLgC1L0fKd7UmdG82JOEE0uzXci1XY61xU">View videos of all recorded talks</a></h2>

{% for day in site.data.sessions %}
  <h2>{{day.title}}</h2>
  {% for track in day.tracks %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{track.title}}</h3>
      </div>
      {% for topic in track.topics %}
        <div class="panel-body">
          <h4>{{topic.title}}</h4>
          {% if topic.materials %}
              <ul>
                  <li><a href="{{topic.materials}}">Materials</a></li>
              </ul>
          {% endif %}

          <p>{{topic.description}}</p>

            {% for speaker in topic.speakers %}
              <div class="speaker clear">
              {% if speaker.avatar %}
                <div class="pull-right">
                  <img class="avatar" src="/images/{{speaker.avatar}}.jpg">
                </div>
              {% endif %}
                <strong>
                  Speaker: {% if speaker.web %}
                    <a href="{{speaker.web}}">{{speaker.name}}</a>
                  {% else %}
                    {{speaker.name}}
                  {% endif %}
                  {% if speaker.twitter %}
                    (<a href="https://twitter.com/{{speaker.twitter}}">@{{speaker.twitter}}</a>)
                  {% endif %}
                </strong>
                {% if speaker.bio %}
                  <p class="bio">{{speaker.bio}}</p>
                {% endif %}
              </div>
            {% endfor %}
          </p>
        </div>
      {% endfor %}
    </div>
  {% endfor %}

{% endfor %}

<h2>See the <a href="/rust-belt-rust-detailed-schedule.pdf">PDF schedule</a> for times and locations!</h2>
<div class="buynow">
    <a class="btn btn-primary btn-lg" role="button" href="/rust-belt-rust-detailed-schedule.pdf">Schedule (PDF)</a>
</div>
